{% extends 'partials/base.html.twig' %}
{% block content %}

{# create a variable to store page content array #}
{# split array with --- or <hr/> tag - defined in page admin panel #}
{% set content = page.content|split('<hr />') %}

    {# 1 - h1 headline #}
    <div class="wrapper__headline">
        <div class="headline--centered">
            {{ content[1] }}
        </div>
    </div>

    {# 2 - create arrays from page content (everything after thumbnails and hero) #}
    {% set pagecontent = content[2 :] %}
    {% for column in pagecontent %}{# a) - column defined by delimiter #}
    {% set columnitems = column|split('\n')%}{# b) - columnitems defined by new line within column #}

    {# 3 - if <h2> used in page content (after 2nd section, and before 'other project'), assign a var to the thumbnail #}
    {# note: this can't be used in an if statement #}
    {% if column|contains('h2') and 'other project' not in columnitems[1] %}
        {% set otherprojectintro = 'h3projectintro' %}
    {% endif %}

    {# 4 - 'other project' outputs last #}
    {% if columnitems[1]|contains('other project') %}
        {% include 'partials/dry/otherproject.html.twig' %}

    {% else %}
    {# 5 - main page content - split at new line #}
    {# markdown="1" allows html to be entered in the page #}
    <div class="whole" markdown="1">
        <div class="half__centered content">

            {% for item in columnitems %}
                {# anchor links #}
                {% if item|contains('href') and item|contains('a')%}{{ item|replace({'<p>' : '<p class="lg">'}) }}
                {# images #}
                {% elseif item|contains('src') and item|contains('img')%} {{ item|striptags('<img>') }}
                {# captions marked in italics #}
                {% elseif item|contains('<em>') %} {{ item|replace({'<em>' : '<p>'}) }}
                {# all other content #}
                {% else %} {{ item }}
                {% endif %}
            {% endfor %}

        </div>
    </div>
    {% endif %}

{% endfor %}


{% endblock %}
