{# project page template #}
{% extends 'partials/base.html.twig' %}
{% block content %}

{# split page content with --- or <hr/> tag - defined in page admin panel #}
{% set content = page.content|split('<hr />') %}

{# get page metadata #}
{% set pagemeta = page.header.metadata %}
{# dump(page) #}

    {# 1 - hero image and h1 + description #}
    <div class="wrapper">
        <div class="hero">
            {% set hero = content[1]|split('</p>') %}
            <div class="hero__info{% if pagemeta.inverseHero == 'yes' %} info--inverse{% endif %}">
                {{ hero[1]|replace({'<p>' : '<p class="description">', '<h1>' : '<h1 class="title">'}) }}
            </div>
            {{ hero[0]|striptags('<img>') }}
        </div>
    </div>

    {# 2 - create an array from page content (everything after thumbnails and hero) #}
    {% set pagecontent = content[2 :] %}
    {% for column in pagecontent %}{# a) - column defined by delimiter #}
    {% set columnitems = column|split('\n')%}{# b) - columnitems defined by new line within column #}

    {# 3 - if <h2> used in page content (after 2nd section, and before 'other project'), assign a var to the thumbnail #}
    {# note: this can't be used in an if statement #}
    {% if column|contains('h2') and 'other project' not in columnitems[1] %}
        {% set otherprojectintro = 'h3projectintro' %}
    {% endif %}

    {# sections marked up with 'left column', 'right column', 'center column' and 'other project' on 1st line #}
    {# i) 'left column' #}
    {% if (columnitems[1])|contains('left column') %}
    <div class="wrapper">
        <div class="half__left content" markdown="1">
            {# look at 3rd item onward #}
            {% for item in columnitems[2 :] %}
                {% include 'partials/dry/projectcolumns.html.twig' %}
            {% endfor %}
        </div>

        {# ii) 'right column' #}
        {% elseif (columnitems[1])|contains('right column') %}
        <div class="half__right content" markdown="1">
            {# look at 3rd item onward #}
            {% for item in columnitems[2 :] %}
                {% include 'partials/dry/projectcolumns.html.twig' %}
            {% endfor %}
        </div>
    </div><!-- wrapper -->

        {# iii) 'center column' #}
        {% elseif (columnitems[1])|contains('center column') %}
    <div class="wrapper">
        <div class="half__centered content" markdown="1">
            {# look at 3rd item onward #}
            {% for item in columnitems[2 :] %}
                {% include 'partials/dry/projectcolumns.html.twig' %}
            {% endfor %}
        </div>
    </div><!-- wrapper -->


        {# iv) 'other project' - thumbnail #}
        {% elseif (columnitems[1])|contains('other project') %}
            {% include 'partials/dry/otherproject.html.twig' %}


        {# v) center column if other #}
        {% else %}
    <div class="wrapper">
        <div class="half__centered content" markdown="1">
            {# look at 2nd item onward #}
            {% for item in columnitems[1 :] %}
                {% include 'partials/dry/projectcolumns.html.twig' %}
            {% endfor %}
        </div>
    </div><!-- wrapper -->
        {% endif %}

    {% endfor %}

{% endblock %}





{# ---------------------------------------- #}
{# project navigation #}
{% block projectnav %}

{# 1 - get all sibling pages #}
{% set projects = page.collection({'items':{'@page.children':'/work'},'order': {'by': 'date', 'dir': 'desc'}}) %}
{# dump(page.path) #}

    {# 2 - compose the nav #}
    <ul id="project-nav" role="navigation">
        {# if first item in the list, prev link goes to last item #}
        <li class="prev">
            <a href="{% if projects.isLast(page.path) %}{{ projects.first(page.path).url }}{% else %}{{ projects.prevSibling(page.path).url }}{% endif %}">Prev</a>
        </li>
        {# if last item in the list, next link goes to first item #}
        <li class="next">
            <a href="{% if projects.isFirst(page.path) %}{{ projects.last(page.path).url }}{% else %}{{ projects.nextSibling(page.path).url }}{% endif %}">Next</a>
        </li>
    </ul>

{% endblock %}
