{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{# get site location #}
{% set sitelocation = grav.uri.base %}

{% block head %}
    <meta charset="utf-8" />
    {% if sitelocation is same as('https://martinbagshaw.co.uk')%}
    <!-- google site verification code -->
    <meta name="google-site-verification" content="Wsaohs6tMaC7wOWnBdismDY9xuKDF08OjH69CFr3XVY" />
    {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/x-icon" href="{{ url('theme://images/assets/mb-icon.ico') }}" rel="Shortcut Icon"/>
    <link href="{{ url('theme://images/assets/Apple-Touch-Icon-57x57.png') }}" rel="Apple Touch Icon">
    <link href="{{ url('theme://images/assets/Apple-Touch-Icon-144x144.png') }}" rel="Apple Touch Icon">
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/style.css', 100) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {# do assets.addJs('jquery', 100) #}
        {# jquery not required #}
    {% endblock %}
    {{ assets.js() }}

{% endblock head %}
</head>
<body class="{{ page.header.body_classes }}">

{# local or test site reminder message #}
{% if sitelocation|contains('localhost') %}
    <div class="wrapper__headline" style="background-color:#00a651;">
        <p class="lg" style="color:#fff;">LOCAL WEBSITE</p>
    </div>
{% elseif sitelocation is same as('http://testing.martinbagshaw.co.uk')%}
    <div class="wrapper__headline" style="background-color:#fc0;">
        <p class="lg" style="color:#000;">TESTING WEBSITE</p>
    </div>
{% endif %}

{% block header %}
    <div id="header" role="banner">
        <ul id="header__menu" role="navigation">
          {% include 'partials/navigation.html.twig' %}
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div id="content" role="main">
        {% block content %}{% endblock %}
    </div>
    {# for home page only #}
    {% block secondary %}{% endblock %}
    {% block tertiary %}{% endblock %}
    {# for project page only #}
    {% block projectnav %}{% endblock %}
{% endblock %}

{% block footer %}
  <div id="footer" role="contentinfo">
      <ul id="footer__menu" role="navigation">
          {% include 'partials/footernavigation.html.twig' %}
      </ul>
      <div class="wrapper__footer">
          <p>&copy; Martin Bagshaw 2017</p>
      </div>
  </div><!--#footer-->
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

{% if sitelocation is same as('https://martinbagshaw.co.uk')%}
<!-- google analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-38406939-1', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}

</body>
</html>
