{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/x-icon" href="{{ url('theme://images/assets/mb-icon.ico') }}" rel="Shortcut Icon"/>
    <link href="{{ url('theme://images/assets/Apple-Touch-Icon-57x57.png') }}" rel="Apple Touch Icon">
    <link href="{{ url('theme://images/assets/Apple-Touch-Icon-144x144.png') }}" rel="Apple Touch Icon">
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/style.css', 100) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body class="{{ page.header.body_classes }}">

{% block header %}
    <div id="header" role="banner">
        <ul id="header__menu" role="navigation">
          {% include 'partials/navigation.html.twig' %}
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div id="content" role="main">
        {% block content %}{% endblock %}
    </div>
    {# for home page only #}
    {% block secondary %}{% endblock %}
    {% block tertiary %}{% endblock %}
    {# for project page only #}
    {% block projectnav %}{% endblock %}
{% endblock %}

{% block footer %}
  <div id="footer" role="contentinfo">
      <ul id="footer__menu" role="navigation">
          {% include 'partials/footernavigation.html.twig' %}
      </ul>
      <div class="wrapper__footer">
          <p>&copy; Martin Bagshaw 2017</p>
      </div>
  </div><!--#footer-->
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
